[Unit]
Description=STUDY1409 Flask App
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/app-pwa/STUDY1409-App
ExecStart=/root/app-pwa/STUDY1409-App/venv/bin/python /root/app-pwa/STUDY1409-App/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
